.App {
  margin-left: 30px;
}

.title{
  text-align: center;
}
.country_post {
  margin-top: 5px;
}

.flag {
  max-width: 250px;
  height: auto;
}

.flex_container {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}